.generator-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.instructions {
  font-size: 30px;
  color: white;
}

.imojis {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 46px;
  width: 100%;
}
